<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Box icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Your Cart</title>
  </head>
  <body>
    <!-- Navigation -->
    <!-- <div class="top-nav">
      <div class="container d-flex">
        <p>Order Online Or Call Us: (001) 2222-55555</p>
        <ul class="d-flex">
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div> -->
    <div class="navigation">
      <div class="nav-center container d-flex">
        <a href="index.html" class="logo"><h1>Recysell</h1></a>

        <ul class="nav-list d-flex">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="product.html" class="nav-link">Shop</a>
          </li>
          <li class="nav-item">
            <a href="#terms" class="nav-link">Terms</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="carbon.html" class="nav-link">Carbon</a>
          </li>
          <li class="icons d-flex">
            <a href="login.html" class="icon">
              <i class="bx bx-user"></i>
            </a>
            <div class="icon">
              <i class="bx bx-search"></i>
            </div>
            <div class="icon">
              <i class="bx bx-heart"></i>
              <span class="d-flex">0</span>
            </div>
            <a href="cart.html" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </li>
        </ul>

        <div class="icons d-flex">
          <a href="login.html" class="icon">
            <i class="bx bx-user"></i>
          </a>
          <div class="icon">
            <i class="bx bx-search"></i>
          </div>
          <div class="icon">
            <i class="bx bx-heart"></i>
            <span class="d-flex">0</span>
          </div>
          <a href="cart.html" class="icon">
            <i class="bx bx-cart"></i>
            <span class="d-flex">0</span>
          </a>
        </div>

        <div class="hamburger">
          <i class="bx bx-menu-alt-left"></i>
        </div>
      </div>
    </div>

    <!-- Cart Items -->
    <div class="container cart">
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
        <tr>
          <td>
            <div class="cart-info">
              <img src="./images/bamboo-utensil.png" alt="" />
              <div>
                <p>Bamboo Utensil</p>
                <span class="price" data-price="100000">Price: Rp 100,000.00</span> <br />
                <a href="#remove">remove</a>
              </div>
            </div>
          </td>
          <td><input type="number" class="quantity" value="1" min="1" /></td>
          <td class="subtotal">Rp100,000.00</td>
        </tr>
        <tr>
          <td>
            <div class="cart-info">
              <img src="./images/bamboo-chair.png" alt="" />
              <div>
                <p>Bamboo Table</p>
                <span class="price" data-price="300000">Price: Rp 300,000.00</span> <br />
                <a href="#remove">remove</a>
              </div>
            </div>
          </td>
          <td><input type="number" class="quantity" value="1" min="1" /></td>
          <td class="subtotal">Rp300,000.00</td>
        </tr>
        <tr>
          <td>
            <div class="cart-info">
              <img src="./images/natural-soap.png" alt="" />
              <div>
                <p>Natural Soap</p>
                <span class="price" data-price="45000">Price: Rp 45,000.00</span> <br />
                <a href="#remove">remove</a>
              </div>
            </div>
          </td>
          <td><input type="number" class="quantity" value="1" min="1" /></td>
          <td class="subtotal">Rp45,000.00</td>
        </tr>
        <tr>
          <td>
            <div class="cart-info">
              <img src="./images/paper-bag.png" alt="" />
              <div>
                <p>Paper Bag</p>
                <span class="price" data-price="10000">Price: Rp 10,000.00</span> <br />
                <a href="#remove">remove</a>
              </div>
            </div>
          </td>
          <td><input type="number" class="quantity" value="1" min="1" /></td>
          <td class="subtotal">Rp10,000.00</td>
        </tr>
        <!-- <tr>
          <td>
            <div class="cart-info">
              <img src="./images/product-6.jpg" alt="" />
              <div>
                <p>Boy’s T-Shirt</p>
                <span>Price: $60.00</span> <br />
                <a href="#">remove</a>
              </div>
            </div>
          </td>
          <td><input type="number" value="1" min="1" /></td>
          <td>$60.00</td>
        </tr> -->
      </table>
      <div class="total-price">
        <table>
          <tr>
            <td>Subtotal</td>
            <td class="cart-subtotal"></td>
          </tr>
          <tr>
            <td>Tax</td>
            <td class="cart-tax"></td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="cart-total"></td>
          </tr>
        </table>
        <a href="checkout.html" class="checkout btn">Proceed To Checkout</a>
      </div>
    </div>

    <!-- Latest Products -->
    <section class="section featured">
      <div class="top container">
        <h1>Latest Products</h1>
        <a href="product.html" class="view-more">View more</a>
      </div>
      <div class="product-center container">
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/bamboo-utensil.png" alt="" />
            </a>
          </div>
          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Bamboo-utensil</a>
            <h4>Rp 100,000.00</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/natural-soap.png" alt="" />
            </a>
            <!-- <span class="discount">40%</span> -->
          </div>
          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Natural Soap</a>
            <h4>Rp 45,000.00</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/paper-bag.png" alt="" />
            </a>
          </div>
          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Paper Bag</a>
            <h4>Rp 10,000.00</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/bamboo-chair.png" alt="" />
            </a>
          </div>
          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Bamboo Table</a>
            <h4>Rp 300,000.00</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMATION</h4>
          <a href="">About us</a>
          <a href="">Contact Us</a>
          <a href="">Term & Conditions</a>
          <a href="">Shipping Guide</a>
        </div>
        <div class="col d-flex">
          <h4>USEFUL LINK</h4>
          <a href="">Online Store</a>
          <a href="">Customer Services</a>
          <a href="">Promotion</a>
          <a href="">Top Brands</a>
        </div>
        <div class="col d-flex">
          <span><i class="bx bxl-facebook-square"></i></span>
          <span><i class="bx bxl-instagram-alt"></i></span>
          <span><i class="bx bxl-github"></i></span>
          <span><i class="bx bxl-twitter"></i></span>
          <span><i class="bx bxl-pinterest"></i></span>
        </div>
      </div>
    </footer>

    <!-- Custom Script -->
    <script src="./js/index.js"></script>
    <script src="./js/cart.js"></script>
    <script src="./js/checkout.js"></script>
    <!-- new cart.js and checkout.js file -->
  </body>
</html>
