<!DOCTYPE html>
<html lang="en">
  import 
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Glide js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Recysell</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header" id="header">

      <div class="navigation">
        <div class="nav-center container d-flex">
        <a href="index.html" class="logo"><h1>Recysell</h1></a>

          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="product.html" class="nav-link">Shop</a>
            </li>
            <li class="nav-item">
            <a href="#terms" class="nav-link">Terms</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="carbon.html" class="nav-link">Carbon</a>
            </li>
            <li class="icons d-flex">
            <a href="login.html" class="icon">
              <i class="bx bx-user"></i>
            </a>
            <div class="icon">
              <i class="bx bx-search"></i>
            </div>
            <div class="icon">
              <i class="bx bx-heart"></i>
              <span class="d-flex">0</span>
            </div>
            <a href="cart.html" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </li>
          </ul>

          <div class="icons d-flex">
            <a href="login.html" class="icon">
              <i class="bx bx-user"></i>
            </a>
            <div class="icon">
              <i class="bx bx-search"></i>
            </div>
            <div class="icon">
              <i class="bx bx-heart"></i>
              <span class="d-flex">0</span>
            </div>
            <a href="cart.html" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </div>

          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
        </div>
      </div>

    <div class="hero">
      <div class="glide" id="glide_1">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <div class="center">
                <div class="left">
                  <!-- <span class="">New Inspiration 2020</span> -->
                  <h1 class="">MAKE EARTH A BETTER <br>PLACE TO LIVE!</h1>
                  <p>By buying our products you can reduce the amount of carbon footprint <br>from this earth</p>
                  <a href="product.html" class="hero-btn">SHOP NOW</a>
                </div>
                <div class="right">
                    <img class="img1" src="./images/crfoot.png" alt="">
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="center">
                <div class="left">
                  <!-- <span>New Inspiration 2020</span> -->
                  <h1>THE PERFECT MARKETPLACE <br>TO FIND! </h1>
                  <p>You can find the product what you're looking for in this marketplace</p>
                  <a href="product.html" class="hero-btn">SHOP NOW</a>
                </div>
                <div class="right">
                  <img class="img2" src="./images/e-commerce.png" alt="">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </header>

    <!-- Categories Section -->
    <section class="section category">
        <div class="title">
          <h1>Categories</h1>
        </div>

      <div class="cat-center">
        <div class="cat">
          <img src="./images/natural-soap.png" alt="" />
          <div>
            <p>HEALTY & BEAUTY</p>
          </div>
        </div>
        <div class="cat">
          <img src="./images/bamboo-chair.png" alt="" />
          <div>
            <p>HOME & LIVING</p>
          </div>
        </div>
        <div class="cat">
          <img src="./images/bamboo-utensil.png" alt="" />
          <div>
            <p>MOM & BABY</p>
          </div>
        </div>
        <div class="cat">
          <img src="./images/paper-bag.png" alt="">
          <div>
            <p>FOOD</p>
          </div>
        </div>
      </div>
    </section>

    <!-- New Arrivals -->
    <section class="section new-arrival">
      <div class="title">
        <h1>NEW ARRIVALS</h1>
        <p>All the latest product of our store</p>
      </div>

      <div class="product-center">
        <div class="product-item">
          <div class="overlay">
            <a href="productDetails.html" class="product-thumb">
              <img src="./images/material1.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Textiles</a>
            <h4>Rp60.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/material2.jpg" alt="" />
            </a>
            <!-- <span class="discount">50%</span> -->
          </div>

          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Bamboo</a>
            <h4>Rp30.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search" ></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/paper-bag.png" alt="" />
            </a>
          </div>
          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Paper Bag</a>
            <h4>Rp10.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/bamboo-utensil.png" alt="" />
            </a>
            <!-- <span class="discount">50%</span> -->
          </div>
          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Bamboo Utensil</a>
            <h4>Rp100.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/bamboo-chair.png" alt="" />
            </a>
          </div>
          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Bamboo table</a>
            <h4>Rp300.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/recycled-glass.png" alt="" />
            </a>
          </div>
          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Recycled Glass</a>
            <h4>Rp20.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
         <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/image14.jpeg" alt="" />
            </a>
            <span class="discount">50%</span>
          </div>
          <div class="product-info">
            <a href="">Sisir bambu ramah lingkungan</a>
            <h4>Rp5.999</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/image15.jpeg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="">Sikat Gigi Bambu Bamboo</a>  
            <h4>Rp8.500</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div> 
      </div>
    </section>



   <section class="section banner">
<div class="left">
  <span class="trend">Eco Friendly</span>
  <h1>New Product</h1>
  <p>New Arrival <span class="color">Sale 50% OFF</span> Limited Time Offer</p>
  <a href="#" class="btn btn-1">Discover Now</a>
</div>
<div class="right">
  <img src="./images/e-commerce.png" alt="">
</div>
    </section>




    <!-- Featured -->
  
    <section class="section new-arrival">
      <div class="title">
        <h1>Recommended</h1>
        <p>All the recommended product from our store</p>
      </div>

      <div class="product-center">
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/paper-bag.png" alt="" />
            </a>
            <!-- <span class="discount">50%</span> -->
          </div>
          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productdetails.html">Paper Bag</a>
            <h4>Rp10.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/natural-soap.png" alt="" />
            </a>
          </div>

          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Natural Soap</a>
            <h4>Rp45.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><a href="productDetails.html"><i class="bx bx-search" ></i></a></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/bamboo-utensil.png" alt="" />
            </a>
            <!-- <span class="discount">40%</span> -->
          </div>
          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Bamboo Utensil</a>
            <h4>Rp100.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./images/bamboo-chair.png" alt="" />
            </a>
          </div>
          <div class="product-info">
            <!-- <span>MEN'S CLOTHES</span> -->
            <a href="productDetails.html">Bamboo Table</a>
            <h4>Rp300.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>

    </section>

    <!-- Contact -->
    <section class="section contact">
      <div class="row">
        <div class="col">
          <h2>EXCELLENT SUPPORT</h2>
          <p>We love our customers and they can reach us any time
          of day we will be at your service 24/7</p>
          <a href="" class="btn btn-1">Contact</a>
        </div>
        <div class="col">
          <form action="">
            <div>
              <input type="email" placeholder="Email Address">
            <a href="">Send</a>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMATION</h4>
          <a href="">About us</a>
          <a href="">Contact Us</a>
          <a href="">Term & Conditions</a>
          <a href="">Shipping Guide</a>
        </div>
        <div class="col d-flex">
          <h4>USEFUL LINK</h4>
          <a href="">Online Store</a>
          <a href="">Customer Services</a>
          <a href="">Promotion</a>
          <a href="">Top Brands</a>
        </div>
        <div class="col d-flex">
          <span><i class='bx bxl-facebook-square'></i></span>
          <span><i class='bx bxl-instagram-alt' ></i></span>
          <span><i class='bx bxl-github' ></i></span>
          <span><i class='bx bxl-twitter' ></i></span>
          <span><i class='bx bxl-pinterest' ></i></span>
        </div>
      </div>
    </footer>


  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
  <script src="./js/slider.js"></script>
  <script src="./js/index.js"></script>
</html>
