<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Ikon Box -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <!-- Gaya Khusus -->
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Semua Produk</title>
  </head>

  <body>
    <!-- Navigasi -->
    <div class="top-nav"></div>
    <div class="navigation">
      <div class="nav-center container d-flex">
        <a href="index.html" class="logo"><h1>Recysell</h1></a>

        <ul class="nav-list d-flex">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Beranda</a>
          </li>
          <li class="nav-item">
            <a href="product.html" class="nav-link">Belanja</a>
          </li>
          <li class="nav-item">
            <a href="#terms" class="nav-link">Ketentuan</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Tentang</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Kontak</a>
          </li>
          <li class="icons d-flex">
            <a href="login.html" class="icon">
              <i class="bx bx-user"></i>
            </a>
            <div class="icon">
              <i class="bx bx-search"></i>
            </div>
            <div class="icon">
              <i class="bx bx-heart"></i>
              <span class="d-flex">0</span>
            </div>
            <a href="cart.html" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </li>
        </ul>

        <div class="icons d-flex">
          <a href="login.html" class="icon">
            <i class="bx bx-user"></i>
          </a>
          <div class="icon">
            <i class="bx bx-search"></i>
          </div>
          <div class="icon">
            <i class="bx bx-heart"></i>
            <span class="d-flex">0</span>
          </div>
          <a href="cart.html" class="icon">
            <i class="bx bx-cart"></i>
            <span class="d-flex">0</span>
          </a>
        </div>

        <div class="hamburger">
          <i class="bx bx-menu-alt-left"></i>
        </div>
      </div>
    </div>

    <!-- Semua Produk -->
    <section class="section all-products" id="products">
      <div class="top container">
        <h1>Semua Produk</h1>
        <form>
          <select>
            <option value="1">Penyortiran Default</option>
            <option value="2">Urutkan Berdasarkan Harga</option>
            <option value="3">Urutkan Berdasarkan Popularitas</option>
            <option value="4">Urutkan Berdasarkan Penjualan</option>
            <option value="5">Urutkan Berdasarkan Rating</option>
          </select>
          <span><i class="bx bx-chevron-down"></i></span>
        </form>
      </div>
      <div class="product-center container">
        <div class="product-item">
          <div class="overlay">
            <a href="productDetails.html" class="product-thumb">
              <img src="images/image1.jpeg" alt="" />
            </a>
            <span class="discount">40%</span>
          </div>
          <div class="product-info">
            <span>Perawatan & Kecantikan</span>
            <a href="productDetails.html">Natural Body Soap</a>
            <h4>Rp27.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="images/image9.jpeg" alt="" />
            </a>
            <span class="discount">40%</span>
          </div>
          <div class="product-info">
            <span>Pembungkus Kado & Kemasan </span>
            <a href="">PAPER BAG ECO FRIENDLY FOR BOX</a>
            <h4>Rp9.999</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="images/image10.jpeg" alt="" />
            </a>
            <span class="discount">40%</span>
          </div>
          <div class="product-info">
            <span>Perlengkapan Rumah </span>
            <a href="">Coconut Sponge Spons Sabut Kelapa Alami Cuci Piring </a>
            <h4>Rp3.900</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="images/image11.jpeg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>Tote Bag</span>
            <a href="">Tas Belanja Jaring Reuseable Net Grocery Bag Katun Cotton Mesh Bag Eco Friendly</a>
            <h4>Rp24.900</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="images/image8.jpeg" alt="" />
            </a>
            <span class="discount">40%</span>
          </div>
          <div class="product-info">
            <span>Perawatan & Kecantikan</span>
            <a href="">Kaos Polo Pria Pink Solid</a>
            <h4>Rp15.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="images/image7.jpeg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>Perawatan & Kecantikan</span>
            <a href="">LULUR AMPAS HALUS ECO ENZYME 100% NATURAL</a>
            <h4>Rp20.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="images/image6.jpeg" alt="" />
            </a>
            <span class="discount">40%</span>
          </div>
          <div class="product-info">
            <span>Perawatan & Kecantikan</span>
            <a href="">HAIR OIL ECO ENZYME 100% ALAMI BAHAN ORGANIK</a>
            <h4>Rp25.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="images/image12.png" alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>Perlengkapan Rumah</span>
            <a href="">Telenan Bambu</a>
            <h4>Rp40.000</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="pagination">
      <div class="container">
        <span>1</span> <span>2</span> <span>3</span> <span>4</span>
        <span><i class="bx bx-right-arrow-alt"></i></span>
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMASI</h4>
          <a href="">Tentang Kami</a>
          <a href="">Hubungi Kami</a>
          <a href="">Syarat & Ketentuan</a>
          <a href="">Panduan Pengiriman</a>
        </div>
        <div class="col d-flex">
          <h4>TAUTAN BERGUNA</h4>
          <a href="">Toko Online</a>
          <a href="">Layanan Pelanggan</a>
          <a href="">Promosi</a>
          <a href="">Merek Teratas</a>
        </div>
        <div class="col d-flex">
          <span><i class="bx bxl-facebook-square"></i></span>
          <span><i class="bx bxl-instagram-alt"></i></span>
          <span><i class="bx bxl-github"></i></span>
          <span><i class="bx bxl-twitter"></i></span>
          <span><i class="bx bxl-pinterest"></i></span>
        </div>
      </div>
    </footer>
    <!-- Script Khusus -->
    <script src="./js/index.js"></script>
  </body>
</html>
